<div id="boardApp">
  {{ title }}

  <h2>{{ activeColor }}</h2>
  <div *ngFor="let color of colors">
    <span
      [ngStyle]="{ backgroundColor: color.rgb }"
      (click)="handleClick($event)"
    >
      {{ color.rgb }}
    </span>
  </div>
  <div id="gameBoard" [ngStyle]="setGameBoardStyle()">
    <span
      (click)="handleClick($event)"
      [ngStyle]="{ backgroundColor: cell.color.rgb }"
      class="tile"
      *ngFor="let cell of this.board as $index"
    >
      <span>{{ cell.key }}</span>
    </span>
  </div>
</div>
