{{ title }}

<h2>{{ activeColor }}</h2>

<div class="board">
  <div class="column" *ngFor="let col of this.board">
    <div
      class="cell"
      *ngFor="let cell of col"
      (click)="onClickHandler(cell)"
      [ngStyle]="{ 'background-color': cell.color }"
    >
      <div>
        {{ cell.color }} <br />
        {{ cell.value }}
      </div>
    </div>
  </div>
</div>

<div class="board">
  <div class="column" *ngFor="let col of this.testBoard">
    <div class="cell" *ngFor="let cell of col" (click)="onClickHandler(cell)">
      <div>{{ cell }}</div>
    </div>
  </div>
</div>
