<div id="boardApp">
  <button (click)="generateGameBoard()">New Game</button>

  <div id="gameBoard" [ngStyle]="setGameBoardStyle()">
    <span
      *ngFor="let tile of this.board as $index"
      (click)="handleClick($event)"
      [ngStyle]="{ backgroundColor: tile.color.rgb }"
      class="tile"
      [attr.key]="tile.key"
      [attr.absorbed]="tile.absorbed"
    >
    </span>
  </div>
  <div class="options">
    <label for="">Clicks: {{ clicks }}</label>
    <span
      class="currentColor"
      [ngStyle]="{ 'background-color': currentColor }"
    ></span>
  </div>
</div>
